<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">

<html>

<head>
	<title>Wiki : Django-Extensions</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<style>
	#body		{
			border:		none;
			text-align:	center;
			position:	absolute;
			top:		30px;
			left:		30px;
			right:		30px;
			bottom:		30px;
			overflow:	scroll;
			}
	</style>
</head>

<body>
<div id=body>

<h1>{% block title %}h1{% endblock %}</h1>

<hr>

{% block content %}{% endblock %}

</div>
</body>

</html>
